main {
    min-height: 95vh;
    padding-top: 7vh;
    text-align: center;
}

h6 {
    font-weight: 200;
}

.navbar {
    background-color: #c0a588;
}

footer {
    height: 5vh;
    background-color: #2b2a2a;
    color: #FEFAE0;
    display: flex;
    justify-content: flex-end;
    a {
        line-height: 5vh;
        margin-right: 10px;
        color: #DDA15E;
        font-weight: 100;
        &:hover {
            color: #BC6C25;
        }
    }
}

.btn-primary {
    background-color: #DDA15E;
    border: none;
    color: #141b0c;
    &:hover {
        background-color: #BC6C25;
        color: #141b0c;
    }
}

.container {
    padding: 50px 20px 20px;
}
